{:source-paths ["src/cljc" "src/cljs" "spec/cljc"]

 :dependencies [[speclj/speclj "3.4.3"]]

 :builds
 {:app {:target :browser
        :output-dir "resources/public/js"
        :asset-path "js"
        :modules {:main {:init-fn frogger.main/init}}
        :devtools {:http-root "resources/public"
                   :http-port 8080}}

  :release {:target :browser
            :output-dir "docs/js"
            :asset-path "js"
            :modules {:main {:init-fn frogger.main/init}}
            :compiler-options {:optimizations :advanced}}

  :test {:target :browser-test
         :test-dir "resources/public/js/test"
         :ns-regexp "-spec$"
         :runner-ns frogger.test-runner
         :devtools {:http-root "resources/public/js/test"
                    :http-port 8081}}

  :node-test {:target :node-script
              :output-to "out/node-tests.js"
              :main frogger.test-runner/run-all
              :devtools {:after-load frogger.test-runner/run-all}}}}

